/* General styling for the user profile page */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Navigation bar styling */
.navbar {
    background-color: #2c3e50;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling for the back button */
.navbar .back-button {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Back button hover effect */
.navbar .back-button:hover {
    color: #3498db;
}

/* Styling for the heading in the navbar */
.navbar h1 {
    margin: 0;
    font-size: 22px;
}

/* Container styling */
.container {
    max-width: 800px;
    margin: 5px auto auto auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Styling for form input groups */
.input-group {
    margin-bottom: 15px;
}

/* Styling for labels */
.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Styling for input fields */
.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f5f5f5;
    font-size: 16px; 
}

/* Styling for edit button */
#editButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #e67e22; 
    cursor: pointer;
    margin: 10px;
    font-size: 16px; 
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

/* Hover effect for back button */
#editButton:hover {
    background-color: #d35400;
    transform: scale(1.05);
}

/* Styling for save button */
#saveButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #27ae60; /* Green color for save button */
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

/* Hover effect for save button */
#saveButton:hover {
    background-color: #2ecc71;
    transform: scale(1.05);
}
